.experince-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media screen and (min-width: 768px) {
    .experince-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (min-width: 991px) {
    .experince-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media screen and (min-width: 1600px) {
    .experince-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}